body {
    background-color: #0f1317;
    color: azure;
    height: 1010px;
}

.header {
    padding: 5px;
    background-color: #161b22;
    display: flex;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0,0.1);
}

.custom-header {
    color: white
}
